@import url("reset.css");
@import url("layout.css");
@import url("state.css");
@import url("modules.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Basic */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888;
}
  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }
