/* header */

header {
  margin: 0 0 2em 0;
  color: white;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .9;
  overflow: hidden;
} 
.bg-video__content{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #222629 url("images/overlay.png");
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 375px;
}

/* row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

  /* Sections/Article */

	section, article {
		margin-bottom: 3em;
  }
  
/* Main */

#main {
  margin-left: 375px;
}

/* footer */
footer {
  margin: 2em 0 0 0;
}
#footer {
  margin-left: 375px;
  text-align: center;
  background-color: #dce3e2;
  padding: 3em 0 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  font-size: 0.8em;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}


  @media screen and (min-width: 736px) and (max-width: 1880px) {

    .container {
      width: 1200px;
    }
    /* Basic */

    body {
      font-size: 17pt;
    }

  /* Header */

    #header {
      width: 300px;
    }

  /* Footer */

    #footer {
      margin-left: 300px;
    }

  /* Main */

    #main {
      margin-left: 300px;
    }

  }

  @media screen and (min-width: 736px) and (max-width: 1620px) {

    .container {
      width: 960px;
    }

  }

  @media screen and (min-width: 736px) and (max-width: 1320px) {

    .container {
      width: 100%;
      padding: 0 2em 0 2em;
    }
    	/* Basic */

			body {
				font-size: 16pt;
			}

		/* Header */

			#header {
				width: 20%;
			}

		/* Footer */

			#footer {
				margin-left: 20%;
			}

		/* Main */

			#main {
				margin-left: 20%;
			}

	}

  @media screen and (max-width: 736px) {

    .container {
      width: 100%;
    }

    /* Basic */

			html, body {
				overflow-x: hidden;
			}

			body {
				font-size: 16pt;
			}

			header br {
				display: none;
			}

			.container {
				padding: 0 2em 0 2em;
			}

		/* Header */

			#header {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				-webkit-overflow-scrolling: touch;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				width: 275px;
				background: #222729 url("images/overlay.png");
				box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
			}

		/* Footer */

			#footer {
				margin-left: 0;
			}

		/* Main */

			#main {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				margin-left: 0;
			}

  }

  /* Mobile */

  @media screen and (max-width: 736px) {

    .container {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    
		/* Basic */
    body {
      font-size: 14pt;
    }
  }
  
